@import "../../css/vars"
/*!
* Tree
*/
.indicators-tree
    position: absolute
    width: 400px
    min-height: 100%
    top: 0
    left: -274px
    padding: 80px 24px 0 12px
    background-color: #4b5461
    border-right 2px solid #4b5461
    transition .3s
    will-change transform

    &.open
        border-color #2da1f8
        transform translateX(374px)

    @media (min-width: 1200px)
        width: 460px
        left: -334px

        &.open
            border-color #2da1f8
            transform translateX(434px)

    @media (min-width: 1600px)
        width: 500px
        left: -374px

        &.open
            border-color #2da1f8
            transform translateX(474px)

    @media (min-width: 1800px)
        width: 530px
        left: -404px

        &.open
            border-color #2da1f8
            transform translateX(504px)

.tree-slider
    position: absolute
    right: -11px
    top: 50vh
    margin-top: -2px
    height: 74px
    width: 22px
    background-color: #2ca0f7
    border-radius 12px
    cursor: pointer

    &:hover
        background-color #1e8bdc

    &:before
        font-family: 'fso-icomoon' !important;
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e90a";
        position: absolute
        left: 4px
        top: 24px
        font-size: 20px
        color #eff3f6

    .open &:before
        content: "\e909"
        left: 2px

.tree__search
    position: relative
    height: 41px
    border: 1px solid #d9d9d9
    border-radius 2px
    margin-bottom: 13px

    &:hover
    &:focus
        box-shadow inset 0 0 2px #d9d9d9

.tree__input-search
    width: 100%
    height: 41px
    line-height: 41px
    padding-left: 10px
    padding-right: 38px
    border: 0
    outline: none
    background-color: transparent
    font-family $neoR
    font-size: 14px
    color: #fff

.input-search__icon
    position: absolute
    right: 8px
    top: 10px
    font-size: 22px
    color: #d9d9d9

.tree__filters
    white-space nowrap
    margin-bottom: 18px

.tree__filter
    display: inline-block
    white-space normal
    width: 33.33%
    margin-right: -4px
    padding-right: 14px

    &:last-child
        padding-right: 0

    .select2-container--default .select2-selection--single
        border-radius 2px
        background-color #5d6571
        border-color: #d9d9d9
        outline: none

    .select2-container--focus.select2-container--default .select2-selection--single
    .select2-container--default .select2-selection--single:hover
        box-shadow inset 0 0 3px #d9d9d9

    .select2-container--default .select2-selection--single .select2-selection__rendered
        color: #c6c6c6
        outline: none

    .select2-container--default .select2-selection--single .select2-selection__arrow b
        border 0
        width: 8px
        height: 5px
        color: #c6c6c6
        font-size: 10px;
        line-height: 1
        margin-left: -5px;
        margin-top: -5px;

        &:before
            display inline-block
            content: "\e90b";
            font-family: 'fso-icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
        &:before
            transform rotate(180deg)