.news-name__wrap
    a.lnk.name-panel__left(href="#", id="name-panel__left")
        span.icon-left
    span.mdl-tooltip.mdl-tooltip--right(for="name-panel__left")
        | Предыдущий раздел

    a.lnk.name-panel__right(href="#", id="name-panel__right")
        span.icon-right
    span.mdl-tooltip.mdl-tooltip--left(for="name-panel__right")
        | Следующий раздел

    md-datepicker
        button.md-datepicker-button.md-icon-button.md-button(type='button')
            md-icon.md-datepicker-calendar-icon.ng-scope.icon-calendar

    .news-name
        |4 статей из 940