.analyt-name__wrap
    a.lnk.name-panel__left(href="#", id="name-panel__left")
        span.icon-left
    span.mdl-tooltip.mdl-tooltip--right(for="name-panel__left")
        | Предыдущий раздел

    a.lnk.name-panel__right(href="#", id="name-panel__right")
        span.icon-right
    span.mdl-tooltip.mdl-tooltip--left(for="name-panel__right")
        | Следующий раздел

    .analyt-name#analyt-name(ondblclick="$(this).find('input').show().focus();")
        input(type="text").analyt-name__input
        |Введите назавание аналитической панели...