/*!
* Indicators tabs
*/
.indicators-tabs
    margin: 0 -22px
    padding: 0 22px
    height: 30px
    border-bottom 1px solid #2198f0
    overflow hidden

    .indicators-tab
        position: relative
        display: inline-block;
        text-align: left;
        white-space nowrap
        border-bottom 3px solid transparent
        height: 29px
        cursor: pointer
        transition .2s
        margin-right: 16px;
        font-size: 14px;
        color #8999b1

        .lnk
            text-decoration none
            color #8999b1
            font-family $myriad

        .tree_open &
            font-size 11px
            margin-right: 0

        &:last-child
            margin-right: 0 !important

        &:after
            position: absolute
            left: 0
            bottom: -3px
            right: 0
            display inline-block
            content ''
            height: 0
            background-color #2198f0
            transition .2s

        &.active
            border-color #2198f0

            .lnk
                color: #2297f0

        &:hover
            color #2198f0

            .lnk
                color #2198f0

            &:after
                height: 3px

        @media (min-width: 1200px)
            margin-right: 74px

            .tree_open &
                font-size 12px
                margin-right: 16px

        @media (min-width: 1600px)
            margin-right: 84px

            .tree_open &
                margin-right: 62px
                font-size 14px

        @media (min-width: 1800px)
            font-size 18px

            .tree_open &
                margin-right: 66px
