/*!
* Indicators tabs
*/
.indicators-tabs
    margin: 0 -22px
    padding: 0 22px
    height: 30px
    border-bottom 1px solid #2198f0

    .indicators-tab
        position: relative
        display: inline-block;
        text-align: left;
        white-space nowrap
        border-bottom 3px solid transparent
        height: 29px
        cursor: pointer
        transition .2s
        margin-right: 84px

        &:last-child
            margin-right: 0

        &:after
            position: absolute
            left: 0
            bottom: -3px
            right: 0
            display inline-block
            content ''
            height: 0
            background-color #2198f0
            transition .2s

        &.active
            border-color #2198f0

        &:hover
            color #2198f0

            &:after
                height: 3px