@import "../../css/vars"
/*!
* Site name
*/
.header__site-name
    display none
    vertical-align middle
    margin-left 4px
    max-width 300px
    font-size 10px
    text-transform uppercase
    color white
    white-space normal


@media (min-width: 640px)
    .header__site-name
        display inline-block


@media (min-width: 860px)
    .header__site-name
        max-width 480px
        font-size 16px


@media (min-width: 1200px)
    .header__site-name
        max-width none
        font-size 16px


@media (min-width: 1560px)
    .header__site-name
        font-size 25px
        margin-left 27px