table.indicators-editor__table
    tr
        td.name
            |Наименование поля
        td.value
            .editor-btns.pull-right
                button(type="button").btn
                    span.btn-icon.icon-cansel
                    |Отменить

                button(type="button").btn
                    span.btn-icon.icon-trash
                    | Удалить

                button(type="button").btn
                    span.btn-icon.icon-save
                    | Сохранить
            span.sp-value
                |Значение