dialog.mdl-dialog.view-news-dialog#view-news-dialog
    .mdl-dialog__header
        .view-news__edit-name
            .view-news__btns
                button(type="button").btn
                    span.btn-icon.icon-save2
                    | Экспорт в Word
            textarea.txt-area(placeholder="Введите название")
                |В якутии около 100 тысяч детей охвачено &#13;&#10;дополнительным образованием
        .btn-close.icon-close
    .mdl-dialog__content
        .news-item__content
            | Пресс-служба Министерства образования РС (Я) Министерство образования республики 2016 год объявило Годом дополнительного образования. Сегодня 98787 детей занимаются в 227 организациях дополнительного образования республики, что составляет 73,0% из числа всех школьников, и с каждым годом количество желающих заниматься в них возрастает. "Система дополнительного образования детей имеет свою славную многолетнюю историю. Якутии есть чем гордиться в этой важной сфере", - считает министр образования республики Феодосия Габышева. Надо отметить, что с каждым годом все больше детей занимаются дополнительным образованием по интересам. "Например, в последнее время дети все больше интересуются современной технологией. Для этого создаются необходимые условия. Комплекты учебного оборудования, кабинеты начального технического моделирования, конструкторы и наборы по робототехнике позволили создать современную техносферу научно-исследовательской, научно-технической, проектной, поисковой деятельности школьников", - рассказывает министр образования. "В год дополнительного образования детей в каждом улусе необходимо разработать муниципальную Программу развития дополнительного образования детей. Мы должны принять управленческие решения по увеличению охвата детей с 7 до 18 лет бесплатным дополнительным образованием детей с приоритетом научно-технического творчества детей", - ставит задачу министр.
        .news-item__bottom
            .news-date
                | 10.02.2016
            .news-item__tags
                a(href="#").news-item__tag Вестник саха
                a(href="#").news-item__tag новости
                a(href="#").news-item__tag республика саха (якутия)



script.
    $(document).ready(function() {
        var dialog = document.querySelector('#view-news-dialog');
        var btns = document.querySelectorAll('.icon-full');

        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        dialog.showModal();

        for (i=0; i < btns.length; i++) {
            btns[i].addEventListener('click', function () {
                dialog.showModal();
            });
        }

        dialog.querySelector('.btn-close').addEventListener('click', function () {
            dialog.close();
        });
    });


