dialog.mdl-dialog#view-dialog
    .mdl-dialog__header
        h4.mdl-dialog__title Вид отображения блоков
        .btn-close.icon-close
    .mdl-dialog__content
        | Выберите вид разметки экрана:

        .dialog__views-wrapper
            .dialog__view.view1(class=(view == 1) ? "active" : "", onclick="location.pathname='analyt.html'")
                span.sp1
            .dialog__view.view2(class=(view == 2) ? "active" : "", onclick="location.pathname='analyt2.html'")
                span.sp1
                span.sp2
            .dialog__view.view3(class=(view == 3) ? "active" : "", onclick="location.pathname='analyt3.html'")
                span.sp1
                span.sp2
            .dialog__view.view4(class=(view == 4) ? "active" : "", onclick="location.pathname='analyt4.html'")
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view5(class=(view == 5) ? "active" : "", onclick="location.pathname='analyt5.html'")
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view6(class=(view == 6) ? "active" : "", onclick="location.pathname='analyt6.html'")
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view7(class=(view == 7) ? "active" : "", onclick="location.pathname='analyt7.html'")
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view8(class=(view == 8) ? "active" : "", onclick="location.pathname='analyt8.html'")
                span.sp1
                span.sp2
                span.sp3
                span.sp4


    .mdl-dialog__actions
        button.btn.btn-submite.close(type='button') Применить


script.
    $(document).ready(function() {
        var dialog = document.querySelector('#view-dialog');

        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        dialog.showModal();


        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });

        dialog.querySelector('.btn-close').addEventListener('click', function () {
            dialog.close();
        });
    });


