dialog.mdl-dialog#view-dialog
    .mdl-dialog__header
        h4.mdl-dialog__title Вид отображения блоков
        .btn-close.icon-close
    .mdl-dialog__content
        | Выберите вид разметки экрана:

        .dialog__views-wrapper
            .dialog__view.view1.active
                span.sp1
            .dialog__view.view2
                span.sp1
                span.sp2
            .dialog__view.view3
                span.sp1
                span.sp2
            .dialog__view.view4
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view5
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view6
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view7
                span.sp1
                span.sp2
                span.sp3
            .dialog__view.view8
                span.sp1
                span.sp2
                span.sp3
                span.sp4


    .mdl-dialog__actions
        button.btn.btn-submite.close(type='button') Применить


script.
    window.onload = function() {
        var dialog = document.querySelector('#view-dialog');

        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }

        dialog.showModal();


        dialog.querySelector('#view-dialog .close').addEventListener('click', function () {
            dialog.close();
        });

        dialog.querySelector('#view-dialog .btn-close').addEventListener('click', function () {
            dialog.close();
        });
    };

