/*!
* Header logo
*/
.header__logo
    display inline-block
    vertical-align middle
    width 83px
    height 70px
    margin-left 7px
    background url(../img/header-logo.png) 0 0 no-repeat
    text-decoration none
    outline none