.tree-cont
    .tree-controls
        button(type="button").add-section.pull-left
            span.icon-add1
            |Добавить раздел

        .viewed-tree
    .tree-scrolled-cont.custom-scroll_y
        .tree-list
            ul.list-unstyled
                li.has-child
                    .tree-list__item
                        .line
                        |Стратегические начиональные приоритеты
                    ul.list-unstyled
                        li.has-child
                            .tree-list__item
                                .line
                                | Второй уровень вложенности контента древовидной Стратегические <br>
                                | национальные приоритетыструктуры
                            ul.list-unstyled
                                li.green.up-reit.active
                                    .tree-list__item
                                        .line
                                        | Трейтий уровень вложенности контента<br>
                                        | древовидной структуры, вложенности контента<br>
                                        | древовидной структуры
                                li.red.down-reit
                                    .tree-list__item
                                        .line
                                        | Трейтий уровень вложенности контента<br>
                                        | древовидной структуры, вложенности контента
                                li.yellow.down-reit
                                    .tree-list__item
                                        .line
                                        | Трейтий уровень вложенности контента<br>
                                        | древовидной структуры, вложенности контента<br>
                                        | древовидной структуры

                        li.has-child
                            .tree-list__item
                                .line
                                | Второй уровень вложенности контента древовидной структуры<br>
                                | ревовидной Стратегические национальные приоритетыструктуры<br>
                                | ревовидной Стратегические приоритетыструктуры
                        li.has-child
                            .tree-list__item
                                .line
                                | Второй уровень вложенности контента древовидной структуры<br>
                                | ревовидной Стратегические национальные приоритетыструктуры<br>
                                | ревовидной Стратегические приоритетыструктуры
                        li.has-child
                            .tree-list__item
                                .line
                                | Второй уровень вложенности контента древовидной структуры<br>
                                | ревовидной Стратегические национальные приоритетыструктуры<br>
                                | ревовидной Стратегические приоритетыструктуры

                li.has-child
                    .tree-list__item
                        .line
                        | Уровень вложенности контента древовидной структуры<br>
                        | ревовидной Стратегические национальные приоритетыструктуры<br>
                        | ревовидной Стратегические приоритеты
                li.has-child
                    .tree-list__item
                        .line
                        | Стратегические национальные приоритеты
                li.has-child
                    .tree-list__item
                        .line
                        | Стратегические начиональные приоритеты