.header__user-panel
    .header-user
        a.header-user__photo(href='#')
            img.no-photo(src='common/img/no-photo.jpg', alt='Нет фото')
        a.header-user__name(href='#') Иванов Иван
        br
        a.header-user__post(href='#') Администатор
    a.logout.icon-exit(href='auth.html')