.indicators-tree__right
    include ../indicators_page_tree/indicators_page_tree

    h1
        | Количество и проявлений межэтнической и межконфессиональной напряженности на территории Российской Федерации