/*!
* Indicators page
*/
.indicators-tree__right
    margin-left: 26px
    transition .3s
    padding: 22px

    &.tree_open
        margin-left: 672px

    h1
        margin: 0
        height: 93px
        overflow hidden


.indicators-editor
    margin-bottom: 14px

.indicators-table
    margin-bottom: 24px

    &:last-child
        margin-bottom: 0

    .name__add-btn
        text-align right

    .btn
        border none
        background-color transparent
        font-family $proxyR
        font-size 14px
        color #2399f1
        border-radius 2px
        cursor: pointer
        vertical-align middle
        margin-left: 6px

        span
            display inline-block
            vertical-align middle
            font-size: 20px;
            margin-right: 4px;
            margin-top: -1px;

        &:hover
        &:focus
            background-color white
            color #2399f1

    a
        text-decoration none

        &:hover
            text-decoration underline

    td
        vertical-align middle
        height 60px
        padding-top: 4px
        padding-bottom: 4px

    .name
        width: 33%
        max-width: 33%
        min-width: 33%
        padding-left: 28px
        padding-right: 14px
        font-size 18px

    .value
        width: 67%
        max-width: 67%
        min-width: 67%
        padding-left: 14px
        padding-right: 10px

        &.edit
            padding: 0
            background-color white

            textarea
                border: 0;
                background-color transparent
                height: 60px;
                padding: 10px 14px;
                width: calc(100% + 25px);
                font-family $proxyR
                font-size 14px
                color black
                outline none
                resize none

    .lnk.pdf
        padding-left: 26px
        position: relative

        &:before
            position: absolute
            left: 0
            content ''
            display inline-block
            width: 16px
            height: 16px
            background url(../img/icon_pdf.png) 0 0 no-repeat

        &:hover:before
            text-decoration none

    .lnk.word
        padding-left: 26px
        position: relative

        &:before
            position: absolute
            left: 0
            content ''
            display inline-block
            width: 16px
            height: 16px
            background url(../img/icon_word.png) 0 0 no-repeat

        &:hover:before
            text-decoration none

    .ch-label
    .r-label
        margin-right: 36px

        &:last-child
            margin-right: 0



.indicators-content__scrolled-cont
    margin-top: 15px
    max-height: calc(100vh - 255px);

    .select2-container--default .select2-selection--single
        outline none
        background-color transparent
        border-color transparent
        height: 60px;
        margin: -10px -10px -10px -14px;

    .select2-container--default .select2-selection--single .select2-selection__rendered
        line-height: 60px

    .select2-dropdown
        margin-top: 10px
        margin-left: -14px