@import "../../css/vars"
/*!
* Indicators page
*/
.indicators-tree__right
    margin-left: 26px
    transition .3s
    padding: 22px

    &.tree_open
        margin-left: 400px

    @media (min-width: 1200px)
        &.tree_open
            margin-left: 460px

    @media (min-width: 1600px)
        &.tree_open
            margin-left: 500px

    @media (min-width: 1800px)
        &.tree_open
            margin-left: 530px


    h1
        margin: 0
        height: 93px
        overflow hidden
        font-size 18px

        @media (min-width: 1200px)
            font-size 22px

        @media (min-width: 1600px)
            font-size 25px

.indicators-editor
    margin-top: 15px
    margin-bottom: 14px

.indicators-table
    margin-bottom: 24px

    &:last-child
        margin-bottom: 0

    .name__add-btn
        text-align right

    .btn
        border none
        background-color transparent
        font-family $proxyR
        font-size 14px
        color #2399f1
        border-radius 2px
        cursor: pointer
        vertical-align middle
        margin-left: 6px

        span
            display inline-block
            vertical-align middle
            font-size: 20px;
            margin-right: 4px;
            margin-top: -1px;

        &:hover
        &:focus
            color #1e8bdc

    a
        text-decoration none

        &:hover
            text-decoration underline

    td
        vertical-align middle
        height 60px
        padding-top: 4px
        padding-bottom: 4px

    .name
        width: 33%
        max-width: 33%
        min-width: 33%
        padding-left: 28px
        padding-right: 14px
        font-size 18px

    .value
        width: 67%
        max-width: 67%
        min-width: 67%
        padding-left: 14px
        padding-right: 10px

        &.edit
            padding: 0
            background-color white

            textarea
                border: 0;
                background-color transparent
                height: 60px;
                padding: 10px 14px;
                width: calc(100% + 25px);
                font-family $proxyR
                font-size 14px
                color black
                outline none
                resize none

        &[contenteditable="true"]:focus
        &[contenteditable="true"]:active
            background-color white !important
            outline none


    .lnk.pdf
        padding-left: 26px
        position: relative

        &:before
            position: absolute
            left: 0
            content ''
            display inline-block
            width: 16px
            height: 16px
            background url(../../img/icon_pdf.png) 0 0 no-repeat

        &:hover:before
            text-decoration none

    .lnk.word
        padding-left: 26px
        position: relative

        &:before
            position: absolute
            left: 0
            content ''
            display inline-block
            width: 16px
            height: 16px
            background url(../../img/icon_word.png) 0 0 no-repeat

        &:hover:before
            text-decoration none

    .lnk.exel
        padding-left: 26px
        position: relative

        &:before
            position: absolute
            left: 0
            content ''
            display inline-block
            width: 16px
            height: 16px
            background url(../../img/icon_exel.png) 0 0 no-repeat

        &:hover:before
            text-decoration none

    .ch-label
    .r-label
        margin-right: 36px

        &:last-child
            margin-right: 0



.indicators-content__scrolled-cont
    max-height: calc(100vh - 255px);

    .mCSB_scrollTools
        right: -2px

    .mCSB_inside>.mCSB_container
        margin-right: 0

    .mCSB_scrollTools .mCSB_draggerContainer
        top: 15px
        bottom: 15px

    .select2-container--default .select2-selection--single
        outline none
        background-color transparent
        border-color transparent
        height: 60px;
        margin: -10px -10px -10px -14px;

    .select2-container--default .select2-selection--single .select2-selection__rendered
        line-height: 60px

    .select2-dropdown
        margin-top: 10px
        margin-left: -14px

.indicators-table
    .file-item
        margin-bottom: 8px

        &:last-child
            margin-bottom: 0

.ie-cont
    position: relative
    display inline-block
    padding-right: 47px
    padding-bottom: 35px
    margin: 70px 0

    table
        width: auto
        max-width 100%

        td
            height: auto
            text-align center
            background-color transparent !important
            border 1px solid #8999b1
            padding: 4px 4px;

            @media (min-width: 1200px)
                padding: 8px 16px;

.ie-cont__right
    position: absolute
    top: 0
    right: 0
    width: 48px
    bottom: 36px
    border 1px solid #8999b1
    background-color #cdd5df

    .plus
        display inline-block
        position: absolute
        top: 0
        left: 0
        width: 46px
        height: 37px
        border-bottom 1px solid #8999b1
        font-size: 38px;
        text-align: center;
        line-height: 36px;
        font-weight: bold;
        color #6e737b
        background-color #b7c1d0
        cursor: pointer

        &:hover
            background-color #a2adbd;

.ie-cont__down
    position: absolute
    left: 0
    bottom: 0
    right: 48px
    height: 36px
    border 1px solid #8999b1
    background-color #cdd5df

    .plus
        display inline-block
        position: absolute
        bottom: 0
        left: 0
        width: 48px
        height: 34px
        border-right 1px solid #8999b1
        font-size: 38px;
        text-align: center;
        line-height: 34px;
        font-weight: bold;
        color #6e737b
        background-color #b7c1d0
        cursor: pointer

        &:hover
            background-color #a2adbd;

.indicators-charts__item
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(230, 234, 238);
    border-radius: 4px 4px 0 0;
    margin-bottom: 28px

    &.green
        border-bottom 2px solid #37b147

    &.red
        border-bottom 2px solid #fc5210

    &.blue
        border-bottom 2px solid #2198f0

    &.gray
        border-bottom 2px solid #c4c4c4

    &.yellow
        border-bottom 2px solid #fbc226

    &:last-child
        margin-bottom: 0

.indicators-chart__top
    border-bottom 1px solid #e6eaee
    padding: 26px 40px
    background-color #fafbfc
    overflow hidden

    .chart__top_btns
        float right

        .btn
            display inline-block
            border 0
            background-color transparent
            color #9a9b9d
            font-size 20px
            cursor: pointer
            vertical-align middle

            &:hover
            &:focus
                color #2297f0


    .chart__top_name
        position: relative
        display inline-block
        font-family $proxyR
        font-size 14px
        color #262626
        text-transform uppercase
        padding-left: 20px

        &:before
            position: absolute
            top: 50%
            margin-top: -4px
            left: 0
            display inline-block
            content ''
            width: 8px
            height: 8px
            border-radius 50%

            .green &
                background-color #37b147

            .red &
                background-color #fc5210

            .blue &
                background-color #2198f0

            .gray &
                background-color #c4c4c4

            .yellow &
                background-color #fbc226

.indicators-chart__content
    padding: 20px 40px
    background-color white