@charset "utf-8"


@import "./fonts.css"


@import "vars"
@import 'mixins'


/*!
* General
*/
*
    box-sizing border-box

body
    background-color #ecf0f3
    font-family $baseFont

h1
    font-family $neoR
    font-size 25px
    color #1d2531

a
    color #147ece

header
    position fixed
    z-index 2
    white-space nowrap
    width 100%
    top 0
    left 0
    height 70px
    background #2da1f8
    background linear-gradient(to bottom, #2da1f8 0%,#1992eb 100%)

table
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border 1px solid #d0d6de

    th
        background-color #b7bec7
        color white
        text-transform uppercase
        font-family $proxyR
        font-size 18px
        vertical-align middle
        text-align left
        padding 8px 10px 8px 28px
        font-weight normal

    td
        font-family $proxyR
        font-size 14px
        color #262626

    tr:nth-of-type(even)
        td:first-child
            background-color #d0d6de
        td:last-child
            background-color #dbe1e8

    tr:nth-of-type(odd)
        td:first-child
            background-color #dee3e8
        td:last-child
            background-color #eff3f6



.content
    padding-top 70px
    padding-left 100px

.ch-label
.r-label
    display inline-block
    cursor: pointer
    outline none
    vertical-align top

    .hide
        display none

    .sp-checkbox
        vertical-align middle
        position: relative
        display inline-block
        width: 16px
        height: 16px
        border 1px solid #86b3d8
        background-color #9ecef4
        border-radius 2px
        margin-right: 5px
        margin-top: -2px

    .sp-radio
        vertical-align middle
        position: relative
        display inline-block
        width: 16px
        height: 16px
        border 1px solid #86b3d8
        background-color #9ecef4
        border-radius 50%px
        margin-right: 5px
        margin-top: -2px

    [type="checkbox"]:checked + .sp-checkbox:before
        position: absolute
        content '✔'
        font-size 13px
        color #264964
        font-weight: bold;
        line-height: normal;
        top: -2px;
        left: 1px;

    [type="radio"]:checked + .sp-radio:before
        position: absolute
        width: 10px
        height: 10px
        border-radius 50%px
        content ''
        background-color #264964
        top: 2px;
        left: 2px

.mdl-tooltip
    background: rgb(61, 73, 90);
    border-radius 0
    color white
    font-family $neoR
    font-size 13px
    padding: 6px 12px

.mdl-tooltip--bottom:before
    position: absolute
    top: -12px
    left: 50%
    margin-left: -12px
    content ''
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(61, 73, 90);



/*!
* Helper class
*/
.pull-right
    float right

.pull-left
    float left

.list-unstyled
    list-style none

.col50p
    display inline-block
    width: 50%
    margin-right: -4px

.text-left
    text-align left

.text-right
    text-align right

.text-center
    text-align center

/*
* Text fields
*/
.fso-input
    border 1px solid rgb(217, 217, 217)
    border-radius 4px
    background-color rgb(248, 250, 252)
    font-size 14px
    color #354052;
    padding-left 12px
    height 36px
    line-height 36px
    outline 0


.fso-input:focus
.fso-input:active
    border-color rgb(31, 84, 128)

.error .fso-input
    border-color #c53509
    background-color #f1dee0



/*
* Buttons
*/
.mdl-button
    font-family $neoR
    border-radius 4px
    background-color rgb(31, 84, 128)
    color white
    height 40px
    line-height 40px
    text-transform initial
    font-size 16px
    font-weight normal
    padding 0 38px

.mdl-button:hover
.mdl-button:focus
.mdl-button:active
    background-color #04416f
    box-shadow 0 3px 7px 0 rgba(4, 65, 111, 0.35)

.btn-submite
    border 0
    background-color #1f5480
    color white
    padding: 10px 8px
    font-family $neoR
    font-size 14px
    border-radius: 4px;
    cursor: pointer
    outline none

    &:hover
    &:active
        background-color: #537da0;
        box-shadow 0 1px 6px 0 rgba(0,0,0,0.3);



@import "../blocks/**/*.styl"