extends ./templates/layout.jade

block stylesheet
    link(rel='stylesheet', href='common/css/main.css')
    link(rel='stylesheet', href='common/css/auth_page/auth_page.css')

block header

block sidebar

block content
    include ./blocks/auth_page/auth_page