extends ./templates/layout.jade

block vars
    - var current = 0;

block stylesheet
    link(rel='stylesheet', href='common/css/main.css')
    link(rel='stylesheet', href='common/css/header_logo/header_logo.css')
    link(rel='stylesheet', href='common/css/header_site_name/header_site_name.css')
    link(rel='stylesheet', href='common/css/header_user/header_user.css')
    link(rel='stylesheet', href='common/css/sidebar/sidebar.css')
    link(rel='stylesheet', href='common/css/monitor_panel/monitor_panel.css')
    link(rel='stylesheet', href='common/css/monitor_content/monitor_content.css')

block content
    .content
        include ./blocks/monitor_panel/monitor_panel
        include ./blocks/monitor_content/monitor_content