extends ./templates/layout.jade

block vars
    - var current = 1;
    - var indicator_tabs = 2;

block stylesheet
    link(rel='stylesheet', href='common/css/select.css')
    link(rel='stylesheet', href='common/css/scroll.css')
    link(rel='stylesheet', href='common/css/main.css')
    link(rel='stylesheet', href='common/css/header_logo/header_logo.css')
    link(rel='stylesheet', href='common/css/header_site_name/header_site_name.css')
    link(rel='stylesheet', href='common/css/header_user/header_user.css')
    link(rel='stylesheet', href='common/css/sidebar/sidebar.css')
    link(rel='stylesheet', href='common/css/indicators_page_content/indicators_page_content.css')
    link(rel='stylesheet', href='common/css/indicators_page_tree/indicators_page_tree.css')
    link(rel='stylesheet', href='common/css/indicators_page_tabs/indicators_page_tabs.css')
    link(rel='stylesheet', href='common/css/indicators_page_table_head/indicators_page_table_head.css')
    link(rel='stylesheet', href='common/css/tree_cont/tree_cont.css')

block content
    .content
        #indicators-tree__right.indicators-tree__right
            include ./blocks/indicators_page_tree/indicators_page_tree

            h1
                | Количество и проявлений межэтнической и межконфессиональной напряженности на территории Российской Федерации

            include ./blocks/indicators_page_tabs/indicators_page_tabs

            .indicators-content__scrolled-cont

                .indicators-editor
                    include ./blocks/indicators_page_table_head/indicators_page_table_head

                table.indicators-table
                    tr
                        th(colspan="2")
                            | Целевые значения
                    tr
                        td.name
                            | Нормативно-правовые акты
                            .name__add-btn
                                button(type="button").btn
                                    span.icon-add2
                                    | Добавить
                        td.value
                            div.file-item
                                a.lnk.word(href="#")
                                    | Файл №1
                                button(type="button").btn
                                    span.icon-delete
                                    | Удалить
                            div.file-item
                                a.lnk.word(href="#")
                                    | Файл №1
                                button(type="button").btn
                                    span.icon-delete
                                    | Удалить
                            div.file-item
                                a.lnk.pdf(href="#")
                                    | Файл №1
                                button(type="button").btn
                                    span.icon-delete
                                    | Удалить
                            div.file-item
                                a.lnk.word(href="#")
                                    | Указ Президента РФ
                                button(type="button").btn
                                    span.icon-delete
                                    | Удалить


                    tr
                        td.name
                            | Целевые значения показателя
                        td.value
                            .ie-cont
                                .ie-cont__right
                                    .plus
                                        |+
                                .ie-cont__down
                                    .plus
                                        |+
                                table
                                    tbody
                                        tr
                                            td(rowspan='2', contenteditable="true") Регион
                                            td(colspan='2', contenteditable="true") 2016
                                            td(colspan='2', contenteditable="true") 2017
                                            td(colspan='2', contenteditable="true") 2018
                                            td(colspan='2', contenteditable="true") 2019
                                            td(colspan='2', contenteditable="true") 2020
                                        tr
                                            td(contenteditable="true") От
                                            td(contenteditable="true") До
                                            td(contenteditable="true") От
                                            td(contenteditable="true") До
                                            td(contenteditable="true") От
                                            td(contenteditable="true") До
                                            td(contenteditable="true") От
                                            td(contenteditable="true") До
                                            td(contenteditable="true") От
                                            td(contenteditable="true") До
                                        tr
                                            td(contenteditable="true") Российская Федерация
                                            td(contenteditable="true")
                                                strong 25
                                                | %
                                            td(contenteditable="true")
                                                strong 65
                                                | %
                                            td(contenteditable="true")
                                                strong 25
                                                | %
                                            td(contenteditable="true")
                                                strong 75
                                                | %
                                            td(contenteditable="true")
                                                strong 25
                                                | %
                                            td
                                            td
                                            td(contenteditable="true")
                                                strong 25
                                                | %
                                            td(contenteditable="true")
                                                strong 5
                                                | %
                                            td(contenteditable="true")
                                                strong 25
                                                | %